<table>
  <tbody>
    <% @songs.each do |song|%>
      <tr>
        <%= link_to song.title, song_path(song) %>
        <%= link_to "Delete", song, method: :delete, data: {confirm: "Are you sure?"} %>
      </tr>
    <% end %>
  </tbody>
</table>